.GenerateContainerForGame {
    position: absolute;
    left: 100px;
    top: 160px;
}

.generateImage1 {
    width: 320px; /* Adjust the width as needed */
    height: 320px;
    margin-bottom: 50px;
}

.optionsContainer {
    position: absolute;
    width: 449px;
    top: 70px;
    margin-left: 15px;
}

.options0 {
    width: 449px;
    height: 47px;
    margin-bottom: 25px;
}

.options1 {
    width: 412px;
    height: 47px;
    margin-bottom: 25px;
}

.options2 {
    width: 175px;
    height: 47px;
    margin-bottom: 25px;
}


.optionSelected {
    align-self: center;
    margin-bottom: 28px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    background-color: #4D2557;
    border: none;
    border-radius: 37px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    top: 450px;
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #956C9F;
    }

    &:focus {
        background-color: #956C9F;
    }
}

.hintBlock {
    position: absolute;
    width: 100px;
    top: 15px;
    right: 10px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.hint {
    width: 80px;
}

.connectionImage{
    height: 85px;
    margin-left: 20px;
    margin-top: 45px;
    margin-right: 10px;
}

.connectionBlock {
    position: absolute;
    background-color: #F5CBFF;
    height: 450px;
    width: 480px;
    right: 120px;
    top: 130px;
    border-radius: 37px;
    overflow-y: auto;
}

.connectionName{
    position: relative;
    top: -32px;
    font-size: 30px;
    font-weight: bold;
    color: #4D2557;
}

.hoverOnConnection {
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover .connectionName{
        color: #956C9F;
    }

    &:focus .connectionName{
        color: #956C9F;
    }

    &:hover .connectionImage {
        opacity: 0.8;
    }

    &:focus .connectionImage {
        opacity: 0.8;
    }
}

.popup {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #BF6D9A;
    text-align: center;
    color: white;
    border-radius: 37px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.popupTitle {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.popupText {
    font-size: 28px;
}

.historySectionContainer.oldPath {
    cursor: pointer;
    &:hover .ImageHistory{
        opacity: 1;
    }

    &:hover .nameHistory{
        color: black;
    }
}

.historySectionContainer.oldPath .ImageHistory {
    opacity: 0.6;
}

.historySectionContainer.oldPath .nameHistory {
    color: #7D7D7D;
}

.historySectionContainer.notVisited {
    background-color: transparent;
    border: none;
}

